[submodule "themes/papermodx"]
	path = themes/papermodx
	url = https://github.com/reorx/papermodx-example.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
